<div class="add">

  
  <form  action="/action_page.php">
    <!-- --Picture----
    <label for="fname"><b>Image:</b></label><br>
    <input type="img" id="fname" name="fname" placeholder="Nike airforce"><br> -->

<!-- Picture -->
<!-- <div class="myFile">
    <input type="file" id="myFile" name="filename">
    <input type="submit">
    </div> -->

    <!----Title------>
    <label for="fname"><b>Title:</b></label><br>
    <input type="text" id="fname" name="fname" placeholder="Nike airforce"><br>

      <!----Price------>
    <label for="Price"><b>Price:</b></label><br>
    <input type="text" id="Price" name="Price" placeholder="R10.00"><br><br>

     <!----Category------>
     <label for="Category"><b>Category:</b></label><br>
     <input type="text" id="Category" name="Category" placeholder="Category"><br><br>

      <!----Description------>
    <label for="Description"><b>Description:</b></label><br>
    <input type="text" id="Description" name="Description" placeholder="about item"><br><br>

     <!----Condition------>
     <label for="Condition"><b>Condition:</b></label><br>
     <input type="text" id="Condition" name="Condition" placeholder="The shoes are in perfect Condition"><br><br>
      
    <input type="submit" value="Add">
    <div class="Submit">

    </div>
  </form>
</div>